body {
    background-color: lightsalmon;
}
h1 {
    color: red;
    font-family: Georgia;
    margin-left: 75vh;
}
.friend {
    background: rgba(255, 0, 0, 0.418);
}
h3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 88.5vh;
}
p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 90vh;
}