body {
    background-color: lightsalmon;
}
h1 {
    color: red;
    font-family: Georgia;
    display: flex;
    justify-content: center;
}
.friend {
    background: rgba(255, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    color: white;
}
p {
    color: white;
    display: flex; 
    justify-content: center;
}